{
    "env": {
      "browser": true,
      "es2021": true,
      "node": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": { "jsx": true },
      "ecmaVersion": "latest",
      "sourceType": "module"
    },
    "plugins": ["react", "@typescript-eslint"],
    "rules": {
      "indent": ["error", 2],
      "quotes": ["error", "double"],
      "no-await-in-loop": "error",
      "no-constant-binary-expression": "error",
      "no-duplicate-imports": "error",
      "no-self-compare": "error",
      "no-template-curly-in-string": "error",
      "no-unmodified-loop-condition": "error",
      "eqeqeq": ["error", "smart"],
      "@typescript-eslint/array-type": ["error", { "default": "array-simple" }],
      "react/jsx-uses-react": "off",
      "react/react-in-jsx-scope": "off",
      "semi": ["error", "always"],
      "no-console": "warn"
    },
    "settings": {
      "react": { "version": "detect" },
      "eslint.nodePath": "./"
    }
  }